[Unit]
Description= Users API service

[Service]
WorkingDirectory=/var/www/userApi
ExecStart=/usr/bin/dotnet /var/www/userApi/Users.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=users-api
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Development

[Install]
WantedBy=multi-user.target